<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vicinity_media_ad2cart>
            <user_guide>https://www.notion.so/</user_guide>
            <general>
                <active>1</active>
                <debug>0</debug>
            </general>
        </vicinity_media_ad2cart>
    </default>
</config>
