<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vicinity_media" translate="label" sortOrder="101">
            <label>Vicinity Media</label>
        </tab>
        <section id="vicinity_media_ad2cart" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ad2Cart</label>
            <tab>vicinity_media</tab>
            <resource>VicinityMedia_Ad2Cart::vicinity_media_config</resource>
            <include path="VicinityMedia_Ad2Cart::system/main.xml"/>
        </section>
    </system>
</config>
